body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
}

/* INDEX CSS*/
.welcome-container {
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.welcome-heading {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.welcome-quote {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    font-size: 1.5rem;
}

.role-question {
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}

.button-container {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.btn-primary {
    margin-right: 1rem;
    background-color: #DC143C;
    border-color: #DC143C;
}

/* Footer Styles */
.footer {
    background-color: #f6f6f6;
    color: #000000;
    padding: 2rem 0;
}

.footer-heading {
    color: #000000;
    text-align: left;
    margin-bottom: 2rem;
}

/* Newsletter Signup Styles */
.form-inline {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

/* Subscribe Button Styles */
.btn-subscribe {
    margin-left: 10px;
    background-color: #DC143C;
    color: white;
    border-color: #DC143C;
}

/* Social Media Links Styles */
.list-inline-item a {
    color: #DC143C; /* Crimson color for social media links */
}


#forcontact{
    text-align: center;
}

.navbar-brand img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}


.bs-body-color {
    background-color: #0C0B0B; /* Change this to your desired background color */
}


/*Overlay on carousel*/
#myImage {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

/* or */

#wrapper {
    opacity: 0.9;
    filter: alpha(opacity=90); /* msie */
    background-color: #000000;
}

/* INDEX CSS END*/



/* REQUEST NAVBAR CSS */

        /* Active tab text color */
.request_nav_link.active {
    color: #DC143C !important;
}

        /* Inactive tab text color */
.request_nav_link:not(.active) {
    color: black !important;
}

/* REQUEST NAVBAR END*/



/* SIDEBAR CSS */
.sidebar_nav_pills .nav-link.active {
    background-color: rgba(220, 20, 60, 0.2) !important; /* low-opacity color of #DC143C */
}

.side_bar_alignment{
    text-align: left;
    margin-left: 20px;
}

.side_icons{
    font-size: 1rem; 
    color: #DC143C; 
    padding-right: 15px;
}

.side_links{
    color: #000000 !important; 
    font-size: 14px !important;
}

.side_bar{
    left: 0; 
    height: 100vh; 
    width: 198px; 
    background-color: #f6f6f6;
}

.side_bar_logo{
    max-height: 50px;
}

/* SIDEBAR CSS END */




/* SIGN UP CSS*/

.sign-in-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto; /* Center align */
    width: 500px;
    background-color: #fff; /* Optional: Add a background color */
}

.form-text {
    font-size: 0.85rem;
    margin-top: 0.25rem;
    color: #6c757d;
}


/* MAIN CONTENT CSS*/

.main-card {
    width: auto !important;
    height: auto;
    background-color: #f6f6f6;
    border-color: #f6f6f6;
    overflow-x: auto;
    padding: 10px; /* Add padding to create space between cards */
}

.request-card {
    width: 250px; /* Set the width of each request card */
    background-color: #ffffff; /* Background color for request cards */
    border-color: #ffffff; /* Border color for request cards */
    margin-left: 20px;
    flex: 0 0 auto; /* Prevent cards from shrinking */
   
}

.card_icons{ 
    padding-right: 5px;
}

::-webkit-scrollbar {
    display: none;
}

.urgency-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px; /* Adjust width of urgency indicator */
    height: 100%;
    background-color: red; /* Adjust color as needed */
}

.card-title {
    margin-bottom: 5px; /* Add margin below card title */
}

.card-text {
    margin-bottom: 15px; /* Add margin below card text */
}

.scrollable_area{
    overflow-x: auto; /* Enable horizontal scrolling */
    flex-wrap: nowrap; /* Ensure no wrapping */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}



/* TIMER CSS*/

.timer-container {
    display: flex;
}

.timer-box {
    display: flex;
}

.timer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px; /* Adjust as needed */
}

.timer-value {
    font-size: 80px; /* Adjust as needed */
}

.timer-label {
    font-size: 14px; /* Adjust as needed */
}

.custom-hr {
    margin-top: 30px; /* Add space on top */
    height: 2px; /* Reduce the height */
    width: 95%; /* Set the width */
    background-color: #000; /* Set the color */
    margin-left: auto; /* Center the line */
    margin-right: auto; /* Center the line */
}

/*style for request and app statuses*/
.success {background-color: #4CAF50;} /* Green */
   .info {background-color: #2196F3;} /* Blue */
   .warning {background-color: #ff9800;} /* Orange */
   .danger {background-color: #f44336;} /* Red */
   .other {background-color: #e7e7e7; color: black;} /* Gray */

   .label {
    border-radius: 999px; /* This value makes the label fully rounded */
    padding: 0.1em 0.5em 0.3em; /* Adjust padding as needed */
}
/*style for request and app statuses END*/




/*style for Search bar and results card*/
.search-bar {
    max-width: 500px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the search bar */
}

.search-card {
    width: 500px; /* Set the width of each request card */
    background-color: #ffffff; /* Background color for request cards */
    border-color: #ffffff; /* Border color for request cards */
    margin-left: 20px;
    flex: 0 0 auto; /* Prevent cards from shrinking */
   
}

/*style for Search bar END*/